<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>
</head>
<body>
<div class="wrapper">
</div>

<% if (htmlWebpackPlugin.options.scripts) { %>
<% for (var script of htmlWebpackPlugin.options.scripts) { %>
<script src="<%= script %>"></script>
<% } %>
<% } %>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

</body>
</html>